In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [32]:
events = utils.get_events()
usuarios = events['person'].drop_duplicates().to_frame()
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,month,day,hora
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0

# Feature len promedio de las busquedas

In [23]:
busquedas = events[events['search_term'].notnull()][['person','search_term']]
busquedas.head()

      person     search_term
5   4c8a8b93       iPhone se
18  29ebb414          6splus
29  15ea8012  Galaxy s8 plus
35  d21b8e6b         moto g3
39  d21b8e6b         moto g5

In [25]:
busquedas['longitud busqueda'] = busquedas['search_term'].apply(lambda x: len(str(x)))
busquedas.drop(columns='search_term',inplace=True)
busquedas.head()

      person  longitud busqueda
5   4c8a8b93                  9
18  29ebb414                  6
29  15ea8012                 14
35  d21b8e6b                  7
39  d21b8e6b                  7

In [31]:
# Ahora calculo el promedio de las busquedas por usuario
busquedas_por_usuario = busquedas.groupby('person')['longitud busqueda'].mean().to_frame().reset_index()
busquedas_por_usuario.head()

     person  longitud busqueda
0  000c79fe           8.500000
1  000e619d          10.333333
2  001001be           7.250000
3  001802e4          10.000000
4  0019e639           7.090909

In [37]:
busquedas_por_usuario = utils.add_features(usuarios,busquedas_por_usuario,'person','left')
busquedas_por_usuario.fillna(0,inplace=True)
busquedas_por_usuario.sort_values(by='person', inplace=True)
busquedas_por_usuario.head()

         person  longitud busqueda
35768  0008ed71                0.0
44     00091926                0.0
17713  00091a7a                0.0
8818   000ba417                0.0
3967   000c79fe                8.5

In [38]:
busquedas_por_usuario.to_csv('features_nuevos.csv',index=False)